<header class="header container-fluid p-0">
  <nav class="navbar w-100 h-100 p-0">
    <ul class="navbar-nav flex-row align-items-center justify-content-between w-100 h-100">
      <li class="nav-item p-0 ">     
        <a class="nav-link p-0" routerLink="/">
          <img src="../../../../assets/icon-logo.png" alt="logo-do-site" class="site-logo">
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link p-0" href="https://github.com/Jvcgoncalves" target="_blank">
          <img src="../../../../assets/github-icon.svg" class="github-icon" alt="github-icon">
        </a>
      </li>
    </ul>
  </nav>
</header>
